.fade-out {
  opacity: 0;
  transition: opacity 1.6s, transform 1.6s;
}

.fade-in {
  opacity: 1;
}

.slide-down {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform 0.6s;
}

.slide-down-show {
  opacity: 1;
  transform: translateY(0);
}

.slide-down-toggle {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform 0.6s;
}

.slide-down-toggle-show {
  opacity: 1;
  transform: translateY(0);
  position: fixed;
  top: 5%;
  left: 49.7%;
}

.column {
  min-width: 338px !important;
}

.navbar-end {
  position: fixed !important;
  left: 83.9%;
  top: 1.5%;
}

.button-home {
  position: relative;
  left: -6%;
}

.button-about {
  position: relative;
  left: -6%;
}

.rounded-image {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
}

@media (max-width: 640px) {
  .navbar-brand {
    position: relative;
    left: -15%;
  }

  .button-home {
    transform: translateY(-20%);
    left: -15%;
  }
  
  .button-about {
    transform: translateY(-20%);
    left: -15%;
  }
}

.expand-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
  z-index: 1;
}

.expand-on-hover:hover {
  transform: scale(1.05);
}

.contract-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
}

.contract-on-hover:hover {
  transform: scale(0.95);
}

.black-gradient-h1 {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(141deg, #969699, #1e1e22);
  font-size: 65px;
  text-align: center;
  letter-spacing: -1.25px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter';
  font-weight: 700;
}

.has-transparent-background {
  background-color: transparent !important;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  position: fixed;
  left: 49.7%;
  transform: translateX(-50%);
  display: inline-block;
  width: 130px; /* Adjust the width as desired */
  height: 40px; /* Adjust the height as desired */
  border-radius: 50%;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
}

.toggle input {
  display: none; /* Hide the checkbox */
}

.slider {
  position: relative;
  display: inline-block;
  width: 120%;
  height: 120%;
  background-color: #ccc;
  border-radius: 20px; /* Adjust the border-radius as desired */
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Inter';
  background-color: #2196F3; /* Fallback color */
  background-image: linear-gradient(to right, #ECEFF1, #CFD8DC); /* Grey gradient */
}

.slider:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%; /* Adjust the width as desired */
  height: calc(100% - 4px); /* Adjust the height as desired */
  background-color: #ffffff;
  border-radius: 20px; /* Adjust the border-radius as desired */
  transition: transform 0.3s;
}

.toggle input:checked + .slider:before {
  content: "";
  transform: translateX(95%); /* Adjust the translation value to match the width of the slider */
}

.toggle-label {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  font-size: 1rem;
  opacity: 1; /* Show the labels by default */
  pointer-events: none; /* Prevent label interaction */
  transition: opacity 0.3s;
  font-family: 'Inter';
  /* color: #186cb1; */
  font-weight: 300;
}

.left-label {
  left: 19px; /* Adjust the positioning as desired */
}

.right-label {
  right: -11px; /* Adjust the positioning as desired */
}

.toggle input:checked ~ .right-label {
  /* color: #2196F3; */
  background-image: linear-gradient(141deg, #85c8ff, #2196F3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter';
  font-weight: 700;
  position: relative;
  top: -45px;
  left: 86px;
  font-size: large;
}

.toggle input:not(:checked) ~ .left-label {
  /* color: #2196F3; */
  background-image: linear-gradient(141deg, #969699, #1e1e22);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter';
  font-weight: 700;
  position: relative;
  top: -45px;
  left: 17px;
  font-size: large;
}

.toggle input:checked + .slider {
  background-color: #2196F3; /* Fallback color */
  background-image: linear-gradient(to right, #ECEFF1, #CFD8DC); /* Grey gradient */
}
